@charset "UTF-8";
/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+apacheconf+c+csharp+cpp+aspnet+css-extras+docker+markup-templating+flow+fortran+http+hpkp+hsts+java+javastacktrace+latex+markdown+matlab+php+php-extras+sql+powershell+python+plsql&plugins=line-highlight+line-numbers+autolinker+data-uri-highlight+wpd+custom-class+file-highlight+toolbar+jsonp-highlight+highlight-keywords+remove-initial-line-feed+previewers+autoloader+unescaped-markup+command-line+normalize-whitespace+keep-markup+show-invisibles+show-language+copy-to-clipboard */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
.prism-container {
  /* Code blocks */
  /* Inline code */
  /* Fallback, in case JS does not run, to ensure the code is at least visible */ }
  .prism-container code[class*="language-"],
  .prism-container pre[class*="language-"] {
    color: #ccc;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }
  .prism-container pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto; }
  .prism-container :not(pre) > code[class*="language-"],
  .prism-container pre[class*="language-"] {
    background: #2d2d2d; }
  .prism-container :not(pre) > code[class*="language-"] {
    padding: 2px 4px;
    border-radius: .3em;
    white-space: normal; }
  .prism-container .token.comment,
  .prism-container .token.block-comment,
  .prism-container .token.prolog,
  .prism-container .token.doctype,
  .prism-container .token.cdata {
    color: #999; }
  .prism-container .token.punctuation {
    color: #ccc; }
  .prism-container .token.tag,
  .prism-container .token.attr-name,
  .prism-container .token.namespace,
  .prism-container .token.deleted {
    color: #e2777a; }
  .prism-container .token.function-name {
    color: #6196cc; }
  .prism-container .token.boolean,
  .prism-container .token.number,
  .prism-container .token.function {
    color: #f08d49; }
  .prism-container .token.property,
  .prism-container .token.class-name,
  .prism-container .token.constant,
  .prism-container .token.symbol {
    color: #f8c555; }
  .prism-container .token.selector,
  .prism-container .token.important,
  .prism-container .token.atrule,
  .prism-container .token.keyword,
  .prism-container .token.builtin {
    color: #cc99cd; }
  .prism-container .token.string,
  .prism-container .token.char,
  .prism-container .token.attr-value,
  .prism-container .token.regex,
  .prism-container .token.variable {
    color: #7ec699; }
  .prism-container .token.operator,
  .prism-container .token.entity,
  .prism-container .token.url {
    color: #67cdcc; }
  .prism-container .token.important,
  .prism-container .token.bold {
    font-weight: bold; }
  .prism-container .token.italic {
    font-style: italic; }
  .prism-container .token.entity {
    cursor: help; }
  .prism-container .token.inserted {
    color: green; }
  .prism-container pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em; }
  .prism-container .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    /* Same as .prism’s padding-top */
    background: rgba(153, 122, 102, 0.08);
    background: linear-gradient(to right, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
    pointer-events: none;
    line-height: inherit;
    white-space: pre; }
  .prism-container .line-highlight:before,
  .prism-container .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: rgba(153, 122, 102, 0.4);
    color: #f5f2f0;
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white; }
  .prism-container .line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em; }
  .prism-container .line-numbers .line-highlight:before,
  .prism-container .line-numbers .line-highlight:after {
    content: none; }
  .prism-container pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber; }
  .prism-container pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit; }
  .prism-container .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .prism-container .line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber; }
  .prism-container .line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right; }
  .prism-container .token a {
    color: inherit; }
  .prism-container code[class*="language-"] a[href],
  .prism-container pre[class*="language-"] a[href] {
    cursor: help;
    text-decoration: none; }
  .prism-container code[class*="language-"] a[href]:hover,
  .prism-container pre[class*="language-"] a[href]:hover {
    cursor: help;
    text-decoration: underline; }
  .prism-container div.code-toolbar {
    position: relative; }
  .prism-container div.code-toolbar > .toolbar {
    position: absolute;
    top: .3em;
    right: .2em;
    transition: opacity 0.3s ease-in-out;
    opacity: 0; }
  .prism-container div.code-toolbar:hover > .toolbar {
    opacity: 1; }
  .prism-container div.code-toolbar > .toolbar .toolbar-item {
    display: inline-block; }
  .prism-container div.code-toolbar > .toolbar a {
    cursor: pointer; }
  .prism-container div.code-toolbar > .toolbar button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    /* for button */
    -moz-user-select: none;
    -ms-user-select: none; }
  .prism-container div.code-toolbar > .toolbar a,
  .prism-container div.code-toolbar > .toolbar button,
  .prism-container div.code-toolbar > .toolbar span {
    color: #bbb;
    font-size: .8em;
    padding: 0 .5em;
    background: #f5f2f0;
    background: rgba(224, 224, 224, 0.2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    border-radius: .5em; }
  .prism-container div.code-toolbar > .toolbar a:hover,
  .prism-container div.code-toolbar > .toolbar a:focus,
  .prism-container div.code-toolbar > .toolbar button:hover,
  .prism-container div.code-toolbar > .toolbar button:focus,
  .prism-container div.code-toolbar > .toolbar span:hover,
  .prism-container div.code-toolbar > .toolbar span:focus {
    color: inherit;
    text-decoration: none; }
  .prism-container .prism-previewer,
  .prism-container .prism-previewer:before,
  .prism-container .prism-previewer:after {
    position: absolute;
    pointer-events: none; }
  .prism-container .prism-previewer,
  .prism-container .prism-previewer:after {
    left: 50%; }
  .prism-container .prism-previewer {
    margin-top: -48px;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    opacity: 0;
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s; }
  .prism-container .prism-previewer.flipped {
    margin-top: 0;
    margin-bottom: -48px; }
  .prism-container .prism-previewer:before,
  .prism-container .prism-previewer:after {
    content: '';
    position: absolute;
    pointer-events: none; }
  .prism-container .prism-previewer:before {
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    border-radius: 10px;
    border: 5px solid #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75); }
  .prism-container .prism-previewer:after {
    top: 100%;
    width: 0;
    height: 0;
    margin: 5px 0 0 -7px;
    border: 7px solid transparent;
    border-color: rgba(255, 0, 0, 0);
    border-top-color: #fff; }
  .prism-container .prism-previewer.flipped:after {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 5px;
    border-top-color: rgba(255, 0, 0, 0);
    border-bottom-color: #fff; }
  .prism-container .prism-previewer.active {
    opacity: 1; }
  .prism-container .prism-previewer-angle:before {
    border-radius: 50%;
    background: #fff; }
  .prism-container .prism-previewer-angle:after {
    margin-top: 4px; }
  .prism-container .prism-previewer-angle svg {
    width: 32px;
    height: 32px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .prism-container .prism-previewer-angle[data-negative] svg {
    -webkit-transform: scaleX(-1) rotate(-90deg);
    -moz-transform: scaleX(-1) rotate(-90deg);
    -ms-transform: scaleX(-1) rotate(-90deg);
    -o-transform: scaleX(-1) rotate(-90deg);
    transform: scaleX(-1) rotate(-90deg); }
  .prism-container .prism-previewer-angle circle {
    fill: transparent;
    stroke: #2e3538;
    stroke-opacity: 0.9;
    stroke-width: 32;
    stroke-dasharray: 0, 500; }
  .prism-container .prism-previewer-gradient {
    background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb), linear-gradient(45deg, #bbb 25%, #eee 25%, #eee 75%, #bbb 75%, #bbb);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    width: 64px;
    margin-left: -32px; }
  .prism-container .prism-previewer-gradient:before {
    content: none; }
  .prism-container .prism-previewer-gradient div {
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 10px;
    border: 5px solid #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75); }
  .prism-container .prism-previewer-color {
    background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb), linear-gradient(45deg, #bbb 25%, #eee 25%, #eee 75%, #bbb 75%, #bbb);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px; }
  .prism-container .prism-previewer-color:before {
    background-color: inherit;
    background-clip: padding-box; }
  .prism-container .prism-previewer-easing {
    margin-top: -76px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: #333; }
  .prism-container .prism-previewer-easing.flipped {
    margin-bottom: -116px; }
  .prism-container .prism-previewer-easing svg {
    width: 60px;
    height: 60px; }
  .prism-container .prism-previewer-easing circle {
    fill: #2e3538;
    stroke: white; }
  .prism-container .prism-previewer-easing path {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-width: 4; }
  .prism-container .prism-previewer-easing line {
    stroke: white;
    stroke-opacity: 0.5;
    stroke-width: 2; }
@-webkit-keyframes prism-previewer-time {
  0% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 100, 500;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: -100; } }
@-o-keyframes prism-previewer-time {
  0% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 100, 500;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: -100; } }
@-moz-keyframes prism-previewer-time {
  0% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 100, 500;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: -100; } }
@keyframes prism-previewer-time {
  0% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 100, 500;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: -100; } }
  .prism-container .prism-previewer-time:before {
    border-radius: 50%;
    background: #fff; }
  .prism-container .prism-previewer-time:after {
    margin-top: 4px; }
  .prism-container .prism-previewer-time svg {
    width: 32px;
    height: 32px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .prism-container .prism-previewer-time circle {
    fill: transparent;
    stroke: #2e3538;
    stroke-opacity: 0.9;
    stroke-width: 32;
    stroke-dasharray: 0, 500;
    stroke-dashoffset: 0;
    -webkit-animation: prism-previewer-time linear infinite 3s;
    -moz-animation: prism-previewer-time linear infinite 3s;
    -o-animation: prism-previewer-time linear infinite 3s;
    animation: prism-previewer-time linear infinite 3s; }
  .prism-container [class*='lang-'] script[type='text/plain'],
  .prism-container [class*='language-'] script[type='text/plain'],
  .prism-container script[type='text/plain'][class*='lang-'],
  .prism-container script[type='text/plain'][class*='language-'] {
    display: block;
    font: 100% Consolas, Monaco, monospace;
    white-space: pre;
    overflow: auto; }
  .prism-container .command-line-prompt {
    border-right: 1px solid #999;
    display: block;
    float: left;
    font-size: 100%;
    letter-spacing: -1px;
    margin-right: 1em;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .prism-container .command-line-prompt > span:before {
    color: #999;
    content: ' ';
    display: block;
    padding-right: 0.8em; }
  .prism-container .command-line-prompt > span[data-user]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] $"; }
  .prism-container .command-line-prompt > span[data-user="root"]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] #"; }
  .prism-container .command-line-prompt > span[data-prompt]:before {
    content: attr(data-prompt); }
  .prism-container .token.tab:not(:empty),
  .prism-container .token.cr,
  .prism-container .token.lf,
  .prism-container .token.space {
    position: relative; }
  .prism-container .token.tab:not(:empty):before,
  .prism-container .token.cr:before,
  .prism-container .token.lf:before,
  .prism-container .token.space:before {
    color: #808080;
    opacity: 0.6;
    position: absolute; }
  .prism-container .token.tab:not(:empty):before {
    content: '\21E5'; }
  .prism-container .token.cr:before {
    content: '\240D'; }
  .prism-container .token.crlf:before {
    content: '\240D\240A'; }
  .prism-container .token.lf:before {
    content: '\240A'; }
  .prism-container .token.space:before {
    content: '\00B7'; }

/*# sourceMappingURL=t.css.map */
